<%= form_with(model: proyecto, local: true) do |form| %>
  <% if proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :proyecto_nombre %>
  </div>

  <div class="field">
    <%= form.label :etapa %>
    <%= form.text_field :etapa, id: :proyecto_etapa %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :proyecto_descripcion %>
  </div>

  <div class="field">
    <%= form.label :proposito %>
    <%= form.text_field :proposito, id: :proyecto_proposito %>
  </div>

  <div class="field">
    <%= form.label :web %>
    <%= form.text_field :web, id: :proyecto_web %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :proyecto_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
