<div class="container">
  
  <%= link_to '<i class="fa fa-arrow-left"> Volver a lista general de subsidios</i>'.html_safe, subsidios_path, class: 'btn btn-info btn' %>
  <h1 class="text-center">Subsidio de: <%= @subsidio.institucion %></h1>
  <div class="card">
    <div class="card-body">
      <h2 class="text-center"><strong><%= @subsidio.nombre %></strong></h2>
      <div class="row">
        <div class="col-sm-8">
          <p><i class="fa fa-calendar"></i>
          Abierto el: <%= @subsidio.inicio.strftime('%d/%m/%y a las %l:%M %p') %>
          </p>
          <p><i class="fa fa-calendar"></i>
          Cierra en: <%= @subsidio.cierre.strftime('%d/%m/%y a las %l:%M %p') %>
          </p>
        </div>
      </div><!--header subsidio-->
      <div class="row">
        <div class="col-sm-4">
          <div class="container">
            <% if user_signed_in? %>
              <%= link_to fav_subsidio_text, favorite_subsidio_update_path(subsidio: @subsidio), id: 'favorite_subsidio_link', remote:true %>
            <% end %>
          </div> <!--favorite container-->
        </div><!--content subsidio-->
        <div class="col-sm-4">
          <div class="container">
            <%= link_to 'Editar subsidio', edit_subsidio_path(@subsidio) %> |
            <%= link_to 'Eliminar subsidio', subsidio_path(@subsidio), method: :delete, data: { confirm: '¿Estás seguro?' } %>
            
          </div>
        </div><!--edit buttons-->
      </div>
    </div><!-- card-body -->
  </div><!-- card -->


  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#">Volver a arriba</a>
      </p>
    </div>
    </footer>
</div>