<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :empresa_nombre %>
  </div>

  <div class="field">
    <%= form.label :tamaño %>
    <%= form.text_field :tamaño, id: :empresa_tamaño %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :empresa_tipo %>
  </div>

  <div class="field">
    <%= form.label :rubro %>
    <%= form.text_field :rubro, id: :empresa_rubro %>
  </div>

  <div class="field">
    <%= form.label :web %>
    <%= form.text_field :web, id: :empresa_web %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :empresa_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
