<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @empresa.tamaño %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @empresa.tipo %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @empresa.rubro %>
</p>

<p>
  <strong>Web:</strong>
  <%= @empresa.web %>
</p>

<p>
  <strong>User:</strong>
  <%= @empresa.user %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
